/*@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700|Montserrat');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');*/
/*font-family : 'Libre Baskerville', serif;*/
body{
    font-size : 12px !important;
    font-family : sans-serif;
    line-height : 1.7em;
    text-align : left ;
    padding-left: 13px;
    padding-right: 13px;
    color: #333 ;

}


p{
    word-wrap: break-word !important;
    hyphens: auto !important;
    max-width: calc(100vw - 40px) !important;
}
p:empty {
    display: none;
}
p:-moz-only-whitespace { display: none; }

p.dummy-image{
    margin : 0px !important;
    padding: 0px !important;
    overflow: hidden;
    border: none !important;
}

p.dummy-image img{
    background : rgba(255,255,255,0);
    border: none !important;
}

img[src='']{
    display: none !important;
}

#headlineImage a {
    display : none !important;
}

#headlineImage a[href*=".pdf"]{
    display : inherit !important;
}
#headlineImage a[href*=".pdf"] img{
}


#headlineImage {
    margin : 0px !important;
}

a.header-video-wrapper{
    display : none !important;
}
a.header-video-wrapper img{
    border: 1px solid blue !important;
    display : none !important;
}

img {
    max-width: calc(100%) !important;
    height: auto !important;
}

p.photo{
    max-width: calc(100%) !important;
}

p.photo img::after {
    display:inline-block;
    padding-top: 20px !important;
}

p.photo + p.photo {
    margin-top : -11px;
}

body p:first-child > iframe:first-child {
    margin-top: -23px !important;
}

a.top-image img{
    /*border : 2px solid red !important;*/
}
a.top-image, a.top-image img{
    display : none !important;
}

/*div.excerpt{*/
    /*margin-bottom:8px;*/
/*}*/

div:empty, p:empty {
    display : none;
}

table.full-width-table{
    margin-left : 0px !important;
    width: calc(100vw - 40px) !important;
}

iframe:not([id^='twitter-widget']){
    display: block;
    margin-left: 0px !important;
    width: calc(100vw - 40px) !important;
    border-top : 1px solid rgba(200,200,200,0.1);
    border-bottom : 1px solid rgba(200,200,200,0.1);
    margin-top: 13px;
    margin-bottom: 13px;
}

@keyframes color-change {
    0% { color: #333; }
    60% { color: #fdfdfd ; }
}
body.maskedText {
    /*    color : #eee !important;*/
    animation: color-change 3s 1 !important;
}

p.dummy-image{
    margin-top : 20px !important;
}

div.quiz-object{
    padding: 0px;
    border: solid 2px #ba293a;
}

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {
    div.quiz-object{
        max-height: 500px;
        overflow-y: scroll;
    }
}}

@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0)
{ @media {
    div.quiz-object{
        max-height: 500px;
        overflow-y: scroll;
    }
}}