@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700|Montserrat');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
/*font-family : 'Libre Baskerville', serif;*/

body{
    font-size : 12.5px !important;
    font-family : 'Quicksand', sans-serif;
    line-height : 1.7em;
    text-align : left ;
    padding-left: 13px;
    padding-right: 13px;
    color: #333 ;

}



h1, h2, h3, h4, h5, h6, p > strong{
    font-family : 'Quicksand', sans-serif;
    line-height : 1.5em;
    /*    font-family : 'Verdana', sans-serif;*/
}

h3, h4, h5{
    /*    margin-bottom : -8px !important;*/
    margin-bottom: -23px !important;
    margin-top: 20px;
}

h3 + h3, h4 + h3,  h5 + h3,
h3 + h4, h4 + h4,  h5 + h4,
h3 + h4, h4 + h4,  h5 + h4{
    margin-top : 28px !important;
}

h3 + ul, h4 + ul,  h5 + ul,
h3 + blockquote, h4 + blockquote,  h5 + blockquote,
h3 + em, h4 + em,  h5 + em,
h3 + p > em, h4 + p > em,  h5 + p > em,
h3 + img, h4 + img,  h5 + img,
h3 + a, h4 + a,  h5 + a{
    margin-top : 17px !important;
}
img:not(.inline-image) {
    display: block;
    margin-left: -20px !important;
    width: calc(100vw) !important;
    height: auto;
    border-top : 1px solid rgba(200,200,200,0.1);
    border-bottom : 1px solid rgba(200,200,200,0.1);
    margin-top: 13px;
    margin-bottom: 13px;
    background : #FCFCFC;
    min-height : 50px;
}

p.dummy-image{
    margin : 0px !important;
    padding: 0px !important;
    overflow: hidden;
    border: none !important;
}

p.dummy-image img{
    background : rgba(255,255,255,0);
    border: none !important;
}

img[src='']{
    display: none !important;
}

td img {
    display : inline-block;
    width:auto !important;
    margin-left: 0px !important;
}
blockquote img{
    margin-left: -61px !important;
    margin-bottom: 20px !important;
}
p{
    margin-top: 23px;
    margin-bottom : 0px;
    text-align: left;
    font-weight : normal !important;
    word-wrap: break-word;
    hyphens: auto;
}
p:empty {
    display: none;
}
p:-moz-only-whitespace { display: none; }


strong{
    font-weight : bold !important;
}


body > :first-child > a > img:not(.inline-image) {
    margin-top: -23px;
}

ul {
    margin-top: 0px;
    -webkit-padding-start: 13px;
}
ul li:first-child{
    margin-top : 0px;
}
li {
    margin-top : 20px;
}
li + li {
    margin-top : 0px;
}

blockquote > p > strong{
    /*    font-family : serif !important;*/
    /*    font-weight : normal !important;*/
    /*    font-size-adjust: 0.9;*/
}

blockquote em {
    /*    font-family : 'Libre Baskerville', serif; !important;*/
    /*    font-style: normal;*/
    color: black !important;
    font-weight : normal !important;
    text-align: center !important;
    /*    font-size : 1.2em;*/
}

blockquote {
    text-align: center !important;
    font-weight : normal !important;

}

a {
    color : #882200;
    font-weight: bold;
    text-decoration: underline !important;
}

div.quiz-object{
    padding: 0px;
    border: solid 2px #ba293a;
}
div.quiz-object img {
    display: initial;
    margin: initial;
    border: initial;
    background: initial;
    min-height: initial;
    height: initial;
}


#headlineImage a {
    display : none !important;
}

#headlineImage a[href*=".pdf"]{
    display : inherit !important;
}
#headlineImage a[href*=".pdf"] img{
}


#headlineImage {
    margin : 0px !important;
}

a.header-video-wrapper{
    display : none !important;
}
a.header-video-wrapper img{
    border: 1px solid blue !important;
    display : none !important;
}


p.photo{
    /*    margin-bottom : 8px;*/
}

p.photo img::after {
    display:inline-block;
    padding-top: 20px !important;
}

p.photo + p.photo {
    margin-top : -11px;
}

body p:first-child > iframe:first-child {
    margin-top: -23px !important;
}

a.top-image img{
    /*border : 2px solid red !important;*/
}
a.top-image, a.top-image img{
    display : none !important;
}

div.excerpt{
    margin-bottom:8px;
}

div:empty, p:empty {
    display : none;
}

table.full-width-table{
    margin-left : 0px !important;
    width: calc(100vw - 40px) !important;
}

iframe:not([id^='twitter-widget']){
    display: block;
    margin-left: -20px !important;
    width: calc(100vw) !important;
    border-top : 1px solid rgba(200,200,200,0.1);
    border-bottom : 1px solid rgba(200,200,200,0.1);
    margin-top: 13px;
    margin-bottom: 13px;
}

@keyframes color-change {
    0% { color: #333; }
    60% { color: #fdfdfd ; }
}
body.maskedText {
    /*    color : #eee !important;*/
    animation: color-change 3s 1 !important;
}

p.dummy-image{
    margin-top : 20px !important;
}

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {
    div.quiz-object{
        max-height: 500px;
        overflow-y: scroll;
    }
}}

@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0)
{ @media {
    div.quiz-object{
        max-height: 500px;
        overflow-y: scroll;
    }
}}
